/*Login page css code*/

.center-div {
  text-align: center;
  grid-area: bottom;
  box-shadow: 0px 0px 3px 0px;
  padding: 40px;
}
.parent-container {
  height: 500px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 13% 1fr;
  grid-template-areas:
    "top"
    "bottom";
  text-align: center;
  padding: 5px;
  grid-gap: 5px;
}
.toggle-div {
  grid-area: top;
  background: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "loginbutton registerbutton";
}
#loginbutton {
  grid-area: loginbutton;
  background-color: #2fcbda;
  border: #2fcbda;
  border-radius: 4px;
}
#registerButton {
  grid-area: registerbutton;
  background: #e55039;
  border: #e55039;
}
@media screen and (min-width: 350px) {
  .parent-container {
    height: 500px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 13% 1fr;
    grid-template-areas:
      "top"
      "bottom";
    text-align: center;
    padding: 5px;
    grid-gap: 5px;
  }
}

/*Login page css code ends here*/

/*Home page css code*/
.Center-parent-div {
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-areas:
    "content"
    "sidebar";
  height: 75%;
  width: 87%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  grid-gap: 5px;
}

.sidebar {
  grid-area: sidebar;
  text-align: center;
}
.title-div {
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 7px 0px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
@media screen and (min-width: 600px) {
  .Center-parent-div {
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-areas:
      "content"
      "sidebar";
    height: 70%;
    width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-gap: 25px;
  }
  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 15% 15% 15% 1fr;
    grid-template-areas: "list3 list1 list2";
    grid-gap: 2px;
    background: #16a2b7;
    box-shadow: 2px 2px 6px 0px;
  }
  .title-div {
    width: 100%;
    height: 65px;
    box-shadow: 0px 0px 7px 0px;
    text-align: right;
    padding-right: 20px;
    padding-top: 15px;
  }
}
#transfer-btn {
  width: 100%;
  height: 100%;
}
#statement-btn {
  width: 100%;
  height: 100%;
}
#profile-btn {
  width: 100%;
  height: 100%;
}

.transfer-div {
  grid-area: list1;
}
.statement-div {
  grid-area: list2;
}
.profile-div {
  grid-area: list3;
}
#logout-text {
  font-size: 18px;
}
#logout-btn {
  height: 30px;
  width: 90px;
  border-radius: 20px;
}
/*Home page css code ends here*/

/*Transaction box css*/
.tMenuBar-div {
  width: 90%;
  height: 15%;
  margin-top: 10px;
  margin-left: 5%;
  text-align: left;
  border-bottom: 2px solid grey;
}
#Tbtn {
  height: 100%;
  width: 33.3%;
}

.Tcontent {
  text-align: left;
}
.Tcontent-inner {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.proceedBtn {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}
#fromAccountNo {
  margin-bottom: 3%;
  margin-top: -2%;
}
#toAccountNo {
  margin-bottom: 3%;
  margin-top: -2%;
}
#transferAmount {
  margin-top: -2%;
  height: 85%;
}
#pin {
  margin-top: -2%;
  height: 85%;
}
/*Transaction box css ends here*/

/*Statement box css */
.Stminner-div {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  text-align: left;
}
#selectAccountNo {
  width: 50%;
  margin-top: 1%;
}
/*Statement box css ends here*/

/*Profile box css*/

@media screen and (max-width: 600px) {
  .pContent-div {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .rightContentMenu {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 3%;
  }
  .accountDetails-div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 30%;
    margin-left: 4%;
  }
  .leftContent {
    box-shadow: 0px 0px 3px 0px;
    text-align: left;
    display: grid;
    grid-template-columns: 30% 1fr;
  }
}

.rightContent {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .pContent-div {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .leftContent {
    box-shadow: 0px 0px 3px 0px;
    text-align: left;
  }
  .rightContentMenu {
    width: 90%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    border-bottom: 2px solid;
  }
  .right-body {
    width: 90%;
    margin-left: 4%;
    margin-top: 3%;
  }
}
/*Profile box css ends here*/
